---
sitemap: false
---

/*
 *
 *  So Simple
 *
 *  Designer: Michael Rose
 *  Twitter: http://twitter.com/mmistakes
 *
*/

.make_title_responsive{
   	max-width: 100%;
}

#social_links{
		border: 50px !important;
		margin-left: 4% !important;
		display: flex !important;
		width: 100%;
}

.make_footer_font_smaller{
	font-size: 9px;
}

.twitter-timeline {
	width: 100% !important;
}

// Partials
@import "variables";
@import "vendor/bourbon/bourbon";
@import "grid-settings";
@import "vendor/neat/neat";
@import "mixins";
@import "reset";
@import "site";
@import "pygments";
@import "coderay";
@import "elements";
@import "forms";
@import "layout";
@import "vendor/font-awesome/font-awesome";
@import "vendor/magnific-popup/magnific-popup";
@import "simple-search";

